body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafc;
    color: #595354;
}

.header {
    background-color: #ffffff;
    padding: 10px 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
}

.header > .logo-container {
    display: flex;
    align-items: center;
}

.header > .logo-container > .logo-img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.header > .logo-container > .logo-text {
    font-size: 26px;
    font-weight: 700;
}

.header > .logo-container > .logo-text > .logo-highlight {
    color: #65a9e5;
}

.content-container {
    width: 100%;
    height: calc(100vh - 89px);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.active-users-panel {
    width: 20%;
    height: 100%;
    border-right: 1px solid #cddfe7;
}

.panel-title {
    margin: 10px 0 0 0;
    padding-left: 30px;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #cddfe7;
    padding-bottom: 10px;
}

.active-user {
    padding: 10px 30px;
    border-bottom: 1px solid #cddfe7;
    cursor: pointer;
    user-select: none;
}

.active-user:hover {
    background-color: #e8e9eb;
    transition: background-color 0.5s ease;
}

.active-user--selected {
    background-color: #fff;
    border-right: 5px solid #65a9e5;
    font-weight: 500;
    transition: all 0.5s ease;
}

.focus-container {
    height: 100%;
    padding: 0 10px;
    flex: 1;
    position: relative;
    background: #65A9E5;
}

.text-chat-container {
    padding: 0 10px 0 10px;
    width: 25%;
    position: relative;
}

.chat-input-container {
    margin-right: 5px;
    width: 100%;
    bottom: 5px;
    position: absolute;
}

.talk-info {
    font-weight: 500;
    font-size: 21px;
}

.content-container {
    width: 100%;

}

.timestamp-chat {
    font-size: 10px;
    color: #65A9E5;

}

.chat-message {
    font-size: 15px;
    color: black;

}

.chat-log {
    overflow-y: scroll;
    height: 80%;
}

#chat-log-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#mix-canvas {
    width: 100%;
    height: 100%;
}
#chat-text-input {
    width: 90%;
}

.room-header {
    position: absolute;
    top: 40%;
    left: 35%;
    color: #65A9E5;
    font-weight: bold;
}

.video-container {
    height: 70%;
    border: 3px solid #4279a9;
    box-shadow: 9px 9px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.active-user-video {
    width: 100%;
    height: 92%;
    background: black;

}

.context-container {
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: 0;
    left: 0;
}

.remote-video {
    border: 1px solid #cddfe7;
    width: 80%;
    height: 80%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.local-video {
    position: absolute;
    cursor: move;
    border: 3px solid #4279a9;
    top: 5px;
    right: 5px;
    box-shadow: 9px 9px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100px;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: black;
    outline: black;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }

.tablink:hover {
    background-color: #777;
  }

  
#VideoTab {background-color: #65A9E5;}
#Document {background-color: white;}
#HomeworkTODO {background-color: white;}
#Settings {background-color: white;}

.tabcontent {
    color: black;
    display: none;
    padding: 60px 20px;
    height: 100%;
    white-space: initial
  }